* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
  list-style: none;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: lightblue;
}

nav {
  padding: 0 10px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

nav ul li {
  margin: 10px 0;
}

nav span {
  font-weight: bold;
  font-size: 1.2em;
}

.container {
  width: 100%;
  min-height: calc(100vh - 135px);
  padding: 10px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.container aside {
  float: left;
}

.container .wrapper-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  float: right;
}

.container .wrapper-box::after {
  content: "";
  display: table;
  clear: both;
}

.container .wrapper-box .box {
  font-size: 1.2em;
  width: calc(100% / 3 - 20px);
  min-height: calc(100vh / 2.5);
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: lightblue;
  border-radius: 10px;
  position: relative;
}

.container .wrapper-box .box::after {
  content: "";
  display: table;
  clear: both;
}

.container .wrapper-box .box div.actions {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.container .wrapper-box .box div.actions a {
  background-color: white;
  color: grey;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
}

.container .wrapper-box .box div.actions a:hover {
  color: grey;
}

.container .wrapper-box .box span {
  font-weight: bolder;
}

form {
  width: 80%;
  min-height: calc(100vh - 135px);
  margin: 0 auto;
}

form label {
  width: 100%;
}

form input {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group button {
  margin-top: 10px;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

