* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
  list-style: none;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: grey;
  font-size: 1.1rem;
}

a:hover {
  color: orange;
}

nav {
  padding: 0 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid lightgrey;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

nav ul li {
  margin: 10px 0;
}

nav span {
  font-weight: bold;
  font-size: 1.2em;
}

.container {
  width: 100%;
  min-height: calc(100vh - 135px);
  padding: 10px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.container aside {
  float: left;
}

.container .wrapper-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  width: 80%;
  margin: 0 auto;
}

.container .wrapper-box::after {
  content: "";
  display: table;
  clear: both;
}

.container .wrapper-box .box-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}

.container .wrapper-box .box-tag a {
  display: flex;
  font-size: 1.2rem;
}

.container .wrapper-box .box-tag a span {
  font-weight: bold;
}

.container .wrapper-box .box-tag a:hover {
  color: orange;
}

.container .wrapper-box .box {
  font-size: 1.2em;
  width: calc(100% / 3 - 20px);
  height: calc(100% / 2);
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: orange;
  border-radius: 10px;
  position: relative;
}

.container .wrapper-box .box::after {
  content: "";
  display: table;
  clear: both;
}

.container .wrapper-box .box div.img-post {
  max-width: 65%;
  margin: 0 auto;
  position: relative;
  height: 200px;
}

.container .wrapper-box .box div.img-post img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
}

.container .wrapper-box .box div.img-post div.actions {
  float: right;
  margin-top: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.container .wrapper-box .box div.img-post div.actions a {
  background-color: white;
  color: grey;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
}

.container .wrapper-box .box div.img-post div.actions a:hover {
  color: grey;
}

.container .wrapper-box .box div.img-post span {
  font-weight: bolder;
}

.container form {
  width: 80%;
  min-height: calc(100vh - 135px);
  margin: 0 auto;
}

.container form label {
  width: 100%;
}

.container form input {
  width: 100%;
}

.container .form-group {
  margin-bottom: 20px;
}

.container .form-group button {
  margin-top: 10px;
}

.container footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

